.productDWrapper{
    width: 100%;
    background: #c2f1df;
    position: relative;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: flex;
    flex-direction: column;
    height: 60rem;
}

.productDWrapper > img{
    position: absolute;
    width: 150px;
    top: 50px;
    left: 50px;
}

.productDWrapper> h1{
    font-weight: 700;
    margin-top: 40px;
    font-size: 2rem;
    color: #295536;
    position: relative;
    z-index: 1;
}

.productDWrapper> p{
    font-weight: 300;
    font-size: 0.9rem;
}

.productDWrapper >h1::after{
    content: "";
    width: 120px;
    height: 10px;
    position: absolute;
    background: #3fe9a8;
    right: 30px;
    bottom: 5px;
    z-index: -1;
}

.productDWrapper .productContent {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.productDWrapper .productItem{
    width: 90%;
    overflow: hidden;
    padding: 5px;
}

.productDWrapper .productItem> img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.productDWrapper .productItem h3{
    color: #295536;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 10px;
}


.productDWrapper .productItem p{
    color: #295536;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px;
}

.productDWrapper .productItem a button{
    all: unset;
    border: 2px solid #295536;
    border-radius: 10px;
    padding: 10px 20px;
    color: #295536;
    font-size: 1rem;
}


.productDWrapper .productItem a:hover button{
    background: #ffca41;
    border: none;
}


@media only screen and (max-width: 767px) {
    /* CSS rules for mobile devices */
    /* CSS rules for tablets */
    .productDWrapper{
        width: 100%;
        height: 150rem;
    }

    .productDWrapper .productContent{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .productDWrapper .productItem> img{
        height: 400px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* CSS rules for tablets */
    
    .productDWrapper{
        width: 100%;
        height: 80rem;
    }

    .productDWrapper .productContent{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}
