.TextWrapper{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.TextWrapper .ArticleContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.TextWrapper .ArticleContainer .box {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 300px;
    height: 340px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: hidden;
}

.TextWrapper .ArticleContainer .box > img{
    width: 100%;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
}

.TextWrapper .ArticleContainer .box > div{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40px;
    backdrop-filter: blur(10px);
}

.TextWrapper .ArticleContainer .box > div h3{
    color: #fff;
    text-align: left;
    width: 100%;
    padding-left: 30px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1);
    text-transform: capitalize;
}

.TextWrapper .ArticleContainer .box:hover > div{
    height: 100px;
}

.TextWrapper .ArticleContainer .box:hover > div p{
    display: block;
}

.TextWrapper .ArticleContainer .box > div p{
    color: #333;
    height: 100%;
    background: #ddd;
    text-align: left;
    width: 100%;
    padding: 20px;
    padding-top: 4px;
    display: none;
}


/*  */

.TextWrapper .testWrapper {
    display: flex;
    overflow: hidden;
    width: 340px;
    height: 300px;
    margin-bottom: 50px;
    position: relative;
}

.TextWrapper .testWrapper > div {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 70%;
    position: absolute;
    left: 0;
}

.TextWrapper .testWrapper > div img {
    width: 340px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.TextWrapper .testWrapper .testimonial-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    width: calc(100% - 40px);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.TextWrapper .testWrapper .testimonial-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    display: none;
}

.TextWrapper .testWrapper .testimonial-content h3 {
    font-size: 1rem;
    margin: 0;
}

.TextWrapper .testWrapper .testimonial-content p {
    font-size: 1rem;
    margin: 10px 0 0;
}


@media only screen and (max-width: 767px) {
    .TextWrapper .testWrapper {
        height: 300px; /* Adjust height as needed */
    }

    .TextWrapper .testWrapper > div h2 {
        font-size: 1.5rem;
    }

    .TextWrapper .testWrapper > div .testimonial-content h3 {
        font-size: 1.2rem;
    }

    .TextWrapper .testWrapper > div .testimonial-content p {
        font-size: 0.9rem;
    }
}


@media only screen and (max-width: 767px) {
    .TextWrapper{
        grid-template-columns: repeat(1, 1fr);
    }

    .TextWrapper .ArticleContainer{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .TextWrapper .ArticleContainer .box {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .TextWrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}
